html {
  scroll-behavior: smooth;
}

@media only screen and (min-width: 500px) {
  .card {
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 70%;
  }
}

#main {
    border-radius: 5px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
}

.card {
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 55%;
}

.card-new {
    border: none;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

/* hr.style15 {
	border-top: 4px double #000000;
	text-align: center;
}

hr.style15:after {
	content: '\002665';
	display: inline-block;
	position: relative;
	top: -15px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #000000;
	font-size: 18px;
} */

hr.style8 {
	border-top: 2px solid #000000;
	border-bottom: 1px solid #fff;
}
hr.style8:after {
	content: '';
	display: block;
	margin-top: 2px;
	border-top: 2px solid #000000;
	border-bottom: 2px solid #000000;
}

img {
   max-width: 100px; 
   height: auto; 
}

.customIndent {
  text-indent: 10%;
}

.tab {
  margin-left: 4em;
}